/index.html
/docs.md
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/morai_standard_proto_clone/FileContentIndex/585fa021-1243-42e1-814d-46aac5693f5f.vsidx
.vs/morai_standard_proto_clone/FileContentIndex/2039077c-7647-4a30-ae53-6424481155d9.vsidx
.vs/morai_standard_proto_clone/v17/.wsuo
